*{
    box-sizing: border-box;
}
body{
    margin: 0;
    position: relative;
    height: 100vh;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}
.header-container{
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-container{
    background-color: #734100;
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.ul-container{
    display: flex;
    width: 90%;
    padding: 0;
    margin-top:0;
    margin-bottom: 0;
    height: 100%;
    list-style: none;
    justify-content: right;
    align-items: center;
}
.list-item{
    float: left;
    padding-right: 1.2rem;
    text-align: center;
}
.ul-logo{
    justify-content: right;
    width: 10%;
}
.list-item__logo::before{
    content: " ";
    display: inline-block;
    background-image: url(../images/tasa-logo1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:3rem;
    height: 3rem;
    border-radius: 50%;
}
/* main Cards */
.card-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 500px;
    color: #734100;
}
.card-items{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.imagen-1{
    background-image: url(../images/cafe2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.imagen-2{
    background-image: url(../images/cafe3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.imagen-3{
    background-image: url(../images/cafe4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.size-img{
    display: inline-block;
    width: 100%;
    height: 200px;
}
.footer-container{
    display: flex;
    position: absolute;
    bottom: 0;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 150px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    background-color: #734100;
}
.footer-nav{
    display: flex;
    width: 100%;
    justify-content: space-around;;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0; 
}
.footer-list{
    display: inline-block;
    padding: 10px;
    border: 1px solid #fff;
}
/* Media Query*/
@media only screen and (max-width: 600px) {
    body {
       height: auto;
       color: #fff;
    }
    .header-container{
        height: 350px;
        position: sticky;
        top: 0;
        font-weight: 900;
    }
    .nav-container{
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
    .ul-container{
        flex-direction: column;
        width: 100%;
        height: 70%;
        padding-top: 20px;
    }
    .list-item{
        width: 100%;
        padding: 15px;
    }
    .ul-logo{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30%;
    }
    .list-item__logo{
        margin-top: 20px;
        /* padding-right: 2rem; */
    }
    .list-item__logo::before{
        width:6rem;
        height: 5rem;
   
    }
    .card-container{
        flex-direction: column;
        height: auto;
        background: linear-gradient(to top right, #2f1d05,#d17c0e);
        padding-top: 40px;
        color: #fff;
    }
    h2.title{
        margin-top: 20px;
    }
    .footer-container{
        height: auto;
        position: static;
    }
    .footer-nav{
        flex-direction: column;
        padding-bottom: 10px;
        align-items: normal;
    }
    .footer-list{
        margin-bottom: 10px;
        margin-top: 10px;
    }
}